<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITouTVAPIService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.tou.tv/v1/TouTVAPIService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITouTVAPIService"
                contract="TouTvApi.ITouTVAPIService" name="BasicHttpBinding_ITouTVAPIService" />
        </client>
    </system.serviceModel>
</configuration>